*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}
/* realizar scroll suave na minha pagina html */
html{
  scroll-behavior: smooth;
}


/*estilo da parte de navegação*/
header {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.container-grid {
  width: 80%;
}

.container-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: #121212;
}

.container-menu h1 {
  color: #00D2DF;
}

.container-menu .links ul li{
  display: inline;
  
}

.links ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  margin: 20px;
}

.links ul li a:hover {
  color: #00D2DF;
}

/*estilo do main */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
}

.container-nome-user {
  display: flex;
  align-items: center;
  justify-content: center ;
  width: 100%;
  background-image: url(/imagem/Looper\ BG.png);
  background-position: right 80px;
  background-repeat: no-repeat;
  background-color: #121212;
  height: 734px;
}

.container-nome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nome-do-portfolio {
  width: 50%;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.nome-do-portfolio h1 {
  font-size: 58px;
  color: #00D2DF;
}

.redes-sociais {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 20px;
  margin-top: 40px;
}

.cards-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 153px;
  height: 53px;
  gap: 12px;
}

.cards-redes  a {
  font-size: 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.Github {
  border-radius: 4px;
  border: 2px solid #D24074;
}

.Linkedin{
  border-radius: 4px;
  border: 2px solid #9358F7;
}

/*estilo da segunda parte do main sobre mim*/

.container-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 564px;
  background-color: #151515;
}

.container-texto-sobre {
  display: flex;
  justify-content: space-between;
}

.container-texto-sobre .foto {
  width: 367px;
  border-radius: 5px;
  border-left: 5px solid #00D2DF;
}

.container-texto-sobre .foto img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.texto-sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 559px;
  color: white;
}

.texto-sobre h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

.texto-sobre h4 {
  line-height: 3;
  font-size: 18px;
}

.texto-sobre p {
  line-height: 2;
}

.curriculo {
  display: flex;
  gap: 40px;
}

.redes-sociais {
  margin-bottom: 30px;
}

/*estilo da terceira parte EXPERIÊNCIA*/
.container-cor{
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experiencia{

  display: flex;
  justify-content: center;
  flex-direction: column;
  width:218px ;
  height: 402px;
  gap: 20px;
}

.experiencia h1 {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}

.container-experiencia ul li {
  text-transform: none;
}

.container-experiencia ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 2;
}

.professor{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 630px;
  height: 205px;
  color: white;
}

.texto-professor{
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
}

.professor span {
  font-size: 16px;
  font-weight: 600;
  color: #00D2DF;
}


/*estilo da quarta parte do main PROJETOS*/
.titulo {
  height: 100px;
  display: flex;
  align-items: center;
  width: 80%;
  color: white;
}
.container-projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #151515;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projetos{
  display: flex;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  border: 1px solid red;
}

.cards-projetos {
  width: 530px;
  height: 438px;
  margin-bottom: 20px;
}

.imagem-projetos{
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 6px solid #00D2DF;
  border-radius: 5px;
  width: 530px;
  height: 200px;
  background-color: #121212;
}

.imagem-projetos h1 {
    font-size: 30px;
    color: #00D2DF;
}

.texto-projetos {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.texto-projetos h1 {
  font-size: 24px;
  color: white;
}

.texto-projetos p {
  font-size: 18px;
  color: white;
}

.texto-projetos span {
  color: #00D2DF;
  font-size: 17px;
}




/*estilo do footer final do projeto*/


footer {
  width: 100%;
  height: 100px;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.container-footer span {
  color: #00D2DF;
}